{% extends "base.html" %}

{% block content %}
    <h2>Siglas Médicas</h2>
    
    <table>
        <thead>
            <tr>
                <th>Sigla</th>
                <th>Significado</th>
            </tr>
        </thead>
        <tbody>
            {% for sigla, significado in siglas.items() %}
            <tr>
                <td><a href="/sigla/{{ sigla }}">{{ sigla }}</a></td>
                <td>{{ significado }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}